

  <div class="container d-flex justify-content-center align-items-center">
    <!-- <div class="child">  -->
        <div class="card p-2 m-2" style="width: 18rem;" *ngFor="let user of usersPerPage;" (click)="navigateToDetails(user.id)">
  
            <img class="card-img-top" [src]=user.avatar alt="Card image cap">
            <div class="card-body" >
              <!-- <h5 class="card-title">Card title</h5> -->
              <p class="card-text">{{user.first_name }} {{user.last_name}}</p>
              <!-- <a href="#" class="stretched-link"></a> -->
            </div>
          </div>
    <!-- </div> -->

    
  </div>


  <div class="d-flex justify-content-center p-2" *ngIf="usersPerPage"> 
    <ngb-pagination [collectionSize]="totalUsers" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshUsers()">
    </ngb-pagination>
  
  </div>


